@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4">Cart-Index</h1> 
    <div>(V)orderdetail修改識別規格</div>
    <div>利用Ajax在Order點開detail會顯示OrderDetail</div>
    <div>搜尋、排序、Modal互動視窗</div>
</div>
<div class="navbar-nav w-100">
    <a asp-controller="PlanLists" asp-action="Index" class="nav-item nav-link">PlanLists</a>
    <a asp-controller="ProductLists" asp-action="Index" class="nav-item nav-link">ProductLists</a>
    <a asp-controller="ViedoPlanLists" asp-action="Index" class="nav-item nav-link">ViedoPlanLists</a>
    <a asp-controller="ShoppingCarts" asp-action="Index" class="nav-item nav-link">ShoppingCarts</a>
    <a asp-controller="Orders" asp-action="Index" class="nav-item nav-link">Orders</a>
    <a asp-controller="OrderDetails" asp-action="Index" class="nav-item nav-link">OrderDetails</a>


    
</div>