h1,h2,h3,h4,h5,label,div {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

a {
  cursor: pointer;
}

.main{
  background: linear-gradient(to bottom, #DDD 0%, #DDD 80%, #f5f9f9 100%);
}

.container{
  margin-top: 30px;
}

.maincontainer {
margin-top: 30px;
}

.card-container {
  flex-wrap:nowrap; /* 允許換行 */
}

.card-wrapper {
  margin: 10px; /* 設定卡片之間的間距 */
  box-sizing: border-box; /* 包含內邊距和邊框 */
}


.add-friend-text {
  color: #333; /* 按鈕顏色 */
  font-size: 32px;
}

.card-wrapper img {
  width: 100%; /* 使圖片寬度填滿容器 */
  height: 200px; /* 設定固定高度 */
  object-fit: cover; /* 保持圖片比例，並填滿容器 */
}


.profile-header {
  display: flex;
  align-items: flex-end; /* 垂直對齊底部 */
  gap: 10px; /* 圖片和文字之間的間距 */
}

.rounded-circle {
  width: 200px; /* 或者你需要的其他尺寸 */
  height: 200px; /* 或者你需要的其他尺寸 */
}

.profile-info {
  display: flex;
  align-items: flex-end; /* 垂直對齊底部 */
}

.crown {
  width: 25px;
  margin-right: 5px; /* 圖標和文字之間的間距 */
  margin-bottom: 10px;
}

.profile-info label {
  font-size: 1rem; /* 調整文字大小 */
}


.profile-image-container {
  position: relative;
  display: inline-block;
}

:host ::ng-deep.p-card-title {
  font-size: 1.2rem; /* 设置你想要的字体大小 */
}

img{
  margin-top: 10px;
  border-radius: 50%;
  object-fit: cover;
  background-color: transparent;

}

button {
  width: 150px;
  height: 40px;
  text-align: center;
  border-radius: 8%;
  padding: 10px 10px;
  background-color: #17A2B8;
  color: #212529;
  border: none;
  outline: none;
  margin-top: 10px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.shine-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100px;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%);
  animation: shine 3s infinite linear;
}

@keyframes shine {
  0% {
      left: -100px;
  }
  10% {
      left: 100%;
  }
  50% {
      left: 200%;
  }
  80% {
      left: 100%;
  }
  100% {
       left:-100%;
  }
}

button:hover, button:focus{
  background-color:  #00c8d6
}

.p-breadcrumb{
  margin-bottom: 30px;
}

.btnsearch{
  margin-left: 240px;
  height: 60px;
  width: 60px;
  border-radius: 8px;
}

.imgs{
  width: 40px;
  margin-top: 0%;
}
