<div class="main flex justify-content-center">
  <div class="cornercontainer col-1"></div>
  <div class="maincontainer col-10">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
    <div *ngIf="isLoading">正在加载好友信息...</div>
    <button class="shine-button" (click)="AddFriendClick()">新增好友</button>
    <div *ngIf="!isLoading">
      <p-carousel *ngIf="friends.length>0" [value]="friends" [numVisible]="5" [numScroll]="1"
        [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="header">
          <p>好友名單:</p>
        </ng-template>
        <ng-template let-friend pTemplate="item">
          <div class="friend-item">
            <div class="friend-item-content" style="text-align: center">
              <p-card *ngIf="friend" [header]="'會員姓名:' + friend.memberName" [subheader]="'會員暱稱:' + friend.nickName"
                [style]="{ width: '331px' }">
                <ng-template pTemplate="header">
                  <div style="text-align: center">
                    <img class="rounded-circle shadow-4-strong small-image img-fluid" alt="Card"
                      [src]="friend.photoPath == null || friend.photoPath == '' ? './../../../assets/img/Member/defaultMember.png' : friend.photoPath " />
                  </div>
                </ng-template>
                <p>{{ friend.creationDate }}</p>
                <ng-template pTemplate="footer">
                  <button class="shine-button" (click)="removeFriend(friend.friendId)">刪除好友</button>
                </ng-template>
              </p-card>
            </div>
          </div>
        </ng-template>
      </p-carousel>

      <p-carousel *ngIf="invitingFriends.length > 0" [value]="invitingFriends" [numVisible]="3" [numScroll]="1"
        [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="header">
          <p>邀請中:</p>
        </ng-template>
        <ng-template let-friend pTemplate="item">
          <div class="friend-item">
            <div class="friend-item-content" style="text-align: center">
              <p-card *ngIf="friend" [header]="'會員姓名:' + friend.memberName" [subheader]="'會員暱稱:' + friend.nickName"
                [style]="{ width: '331px' }">
                <ng-template pTemplate="header">
                  <div style="text-align: center">
                    <img class="rounded-circle shadow-4-strong small-image img-fluid" alt="Card" [src]="
                      friend.photoPath == null || friend.photoPath == ''
                        ? './../../../assets/img/Member/defaultMember.png'
                        : friend.photoPath
                    " />
                  </div>
                </ng-template>
                <p>{{ friend.invitedMessage }}</p>
                <p>{{ friend.creationDate }}</p>
                <ng-template pTemplate="footer">
                  <button class="shine-button" (click)="removeFriend(friend.friendId)">取消邀請</button>
                </ng-template>
              </p-card>
            </div>
          </div>
        </ng-template>
      </p-carousel>

      <p-carousel *ngIf="pendingFriends.length > 0" [value]="pendingFriends" [numVisible]="3" [numScroll]="1"
        [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="header">
          <p>等待回覆:</p>
        </ng-template>
        <ng-template let-friend pTemplate="item">
          <div class="friend-item">
            <div class="friend-item-content" style="text-align: center">
              <p-card *ngIf="friend" [header]="'會員姓名:' + friend.memberName" [subheader]="'會員暱稱:' + friend.nickName"
                [style]="{ width: '331px' }">
                <ng-template pTemplate="header">
                  <div style="text-align: center">
                    <img class="rounded-circle shadow-4-strong small-image img-fluid" alt="Card" [src]="
                      friend.photoPath == null || friend.photoPath == ''
                        ? './../../../assets/img/Member/defaultMember.png'
                        : friend.photoPath
                    "
                  />
                </div>
              </ng-template>
              <p>{{ friend.invitedMessage }}</p>
              <p>{{ friend.creationDate }}</p>
              <ng-template pTemplate="footer">
                <p-button
                  label="拒絕邀請"
                  [raised]="true"
                  severity="danger"
                  (click)="removeFriend(friend.friendId)"
                ></p-button>&nbsp;
                <p-button
                label="接受邀請"
                [raised]="true"
                severity="success"
                (click)="addFriend(friend.friendId)"
              ></p-button>
              </ng-template>
            </p-card>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>

<p-dialog
  header="邀請好友"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '600px' }"
  [closable]="true"
  [responsive]="true"
  [styleClass]="'custom-dialog'"
>
  <div class="dialog-content" style="text-align: center">
    <div class="flex flex-column gap-2">
      <label for="username" style="margin-right: 20px">好友 ID : </label>
      <input
        pInputText
        id="username"
        aria-describedby="username-help"
        [(ngModel)]="friendId"
      />
      <button class="btn" (click)="fetchFriendDetails()">
        <img src="./../../../assets/img/Member/search.png" alt="Edit" />
      </button>
    </div>

        <div *ngIf="loadFriend" class="friend-details" style="margin-top: 10px">
          <img class="rounded-circle shadow-4-strong small-image img-fluid" alt="Card" [src]="
          fetchFriendData.photoPath == null || fetchFriendData.photoPath == ''
            ? './../../../assets/img/Member/defaultMember.png'
            : fetchFriendData.photoPath
        " />
          <div class="info">
            <h4>{{ fetchFriendData.memberName }}</h4>
            <p>暱稱: {{ fetchFriendData.nickName }}</p>
          </div>
        </div>

    <span class="p-float-label" style="margin-top: 20px">
      <textarea
        id="float-input"
        rows="5"
        pInputTextarea
        [(ngModel)]="sendMsg"
        style="width: 100%"
        rows="5"
      ></textarea>
      <label for="float-input">邀請訊息</label>
    </span>
    <div style="text-align: center">
      <p-footer>
        <p-button label="發送" (click)="sendInvitation()"></p-button>
        &nbsp;
        <p-button
          label="取消"
          severity="warning"
          (click)="hideDialog()"
        ></p-button>
      </p-footer>
    </div>
  </div>
</p-dialog>
