<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a (click)="goHome()" style="color: #333;">Home</a></li>
      <li class="breadcrumb-item"><a (click)="goMMain()" style="color: #333;">會員</a></li>
      <li class="breadcrumb-item active" aria-current="page">我的訊息</li>
    </ol>
  </nav><br>
  <div class="p-float-label">
    <input pInputText id="searchbar" (change)="searchMessages($event)" />
    <label htmlFor="searchbar">搜尋訊息</label>
  </div>
  <table class="table table-striped">
    <thead class="table-group-divider">
      <tr>
        <th scope="col"></th>
        <th scope="col">信息標題</th>
        <th scope="col">訊息內容</th>
        <th scope="col">訊息狀態</th>
        <th scope="col">建立時間</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let message of filteredMessages; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ message.title }}</td>
        <td>{{ message.noticeContent }}</td>
        <td>{{ message.status }}</td>
        <td>{{ message.creTime }}</td>
      </tr>
    </tbody>
  </table>
</div>
