.payment-success {
  display: flex;
  flex-direction: column;
  align-items: center; /* 水平方向置中 */
}

.payment-success h1,
.payment-success p {
  font-size: 2rem; /* 放大文字 */
  margin: 0.5rem 0; /* 行間距 */
  color: gray;
}

.payment-success h1 {
  margin-top: 2rem; /* 額外的上邊距 */
  color: green;

}
