.news-section,h3 {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.second {
  display: flex;
  flex-direction: column; /* 垂直排列子元素 */
  height: 300px; /* 设置父组件高度 */
}

.demo{
  -ms-flex-align: start;
  width: 60px;
  height: 30px;
  cursor: pointer;
}



.rightcontainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.lightcontroller{
  position: relative;
    height: 26px; /* 设置容器高度 */
}

.lightcontroller img{
  position: absolute;
  top: 40%;
  left: 95%;
  transform: translate(-50%, -50%); /* 使图片中心对齐 */
}

.light{
  height: 26px;
}

.light:hover, :focus{
  cursor: pointer;
}

.brick{
  padding: 20PX;
}

.p-inputtext-sm:focus {
background-color: #ffffff;
}

.btncorner{
padding:1px;
display: flex;
flex-direction: row;
text-align: right;
justify-content: flex-end;
}

.btnedit{
border-radius: 0%;
width:120px;
height:40px;
}

.btncancel{
  background:  #17a2b8;
  width:120px;
  height:40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-left: 10px;
  h4{
    color:  #4a525c ;
  }
}

.btncancel:active{
  transform: scale(0.95);
}

button{
  height: 28px; border: 0; background-color: #17a2b8;
  border-radius: 8px;
}


button:hover , :focus {
  background-color: #00c8d6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  cursor: pointer ;
}

.btncancel:hover ,:focus {
  cursor: pointer ;
  border-radius: 8px;
  background: #00c8d6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  h4{
    color:  #212529;
  }
}

.txtbtn{
  display: flex;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #333;
  background: linear-gradient(to right, #00c8d6, #17a2b8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
}

.txtbtn:active {
  transform: scale(0.95);
}

.link:hover ,:focus{
  text-decoration: none;
  h2{
    color: #212529;
  }
}

.link{
  h2{
    color: #4a525c ;
  }
}

.txtbtn:hover, .txtbtn:focus {
  cursor: pointer ;
  background: linear-gradient(to right, #17a2b8, #00c8d6);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.small-image {
  width: 150px;
  height: 150px;
}

.tree{
  display: flex;
  flex-direction: row;
  text-align: center;
  max-height: 150px;
}
.secend {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;

}

.news-section {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  flex-grow: 1;
}

.news-list {
  padding-right: 10px;
}

.news-section h3 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #333;
}


.news-header:hover, :focus{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.news-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.news-item {
  margin-bottom: 15px; /* 每條消息的間距 */
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.gradetxt{
  display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

@keyframes gradepic {
  0% {
    opacity: 1;
  }
  50%{
  opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.gradepic {
  animation-name: gradepic;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.gradediv{
  display: flex;
  flex-direction: row;
  padding: 2px;
  height: 30px;
}
p-table th {
  background-color: #f8f9fa; /* 标题背景色 */
  color: #343a40; /* 标题文字颜色 */
  padding: 10px; /* 内边距 */
}

/* 整行点击效果 */
.news-header {
  cursor: pointer; /* 鼠标悬停显示指针 */
  transition: background-color 0.3s; /* 动画效果 */
}

.news-header:hover {
  background-color: #e2e6ea; /* 悬停效果 */
}

.news-date {
  font-size: 0.9em;
  color: #6c757d;
  padding: 10px; /* 内边距 */
}

.news-title {
  margin-left: 30px;
  font-size: 1.1em;
  font-weight: bold;
  color: #17a2b8;
}

.news-summary {
  margin-top: 10px; /* 增加间距 */
  font-size: 0.95em;
  color: #333;
  padding: 10px; /* 内边距 */
}

.expanded {
  background-color: #d1ecf1; /* 展开后的背景颜色 */
}


.modify-area {
  background: #f9f9f9;
  border-radius: 0px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}


.profile-header {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.rounded-circle {
  width: 100px;
  height: 100px;
}

.profile-info {
  display: flex;
  align-items: flex-end;
}

.picdiv{
text-align:center;
flex-direction: row
}

.crown {
  width: 25px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.profile-info label {
  font-size: 1rem;
}


.profile-image-container {
  position: relative;
  display: inline-block;

}

.mpic {
  width: 200px;
  height: 200px;
  border: #000000;
  border-width: 2px;
  border-radius: 50%;
  object-fit: cover;
  background-color: transparent;
}

.mpicdiv {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  background-color: #D1E9E9;
  border-radius: 10px 10px 0px 0px;
  height: 30px;
  cursor:pointer;

}
.mpicdiv :hover{
  opacity: 0.5;

}

.edit-button {
  width: 150px;
  background-color: transparent;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight:900
}

.edit-button img{
  width:20px;

}

.modify-area{
  padding:10px;
}

.form-table {
  width: 100%;
  border-collapse: separate; /* Use separate to allow rounded corners */
  border-spacing: 0; /* Remove spacing between cells */

  font-size: 14px;
  margin: 20px 0; /* Add margin for overall spacing */
  border-radius: 8px; /* Rounded corners for the entire table */
  overflow: hidden; /* Ensure rounded corners are respected */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for a lifted look */
}
.form-table td {
  padding: 12px; /* Increased padding for better spacing */
  vertical-align: top;

}
.form-table td.label {
  text-align: left; /* Align labels to the left for better readability */
  padding-right: 20px; /* Added padding to separate label from input */
  background-color: #f0f0f0; /* Light background for labels */
  color: #333; /* Darker color for better contrast */
  width: 100px;
  font-family:  'Microsoft JhengHei','Ariel';
  font-weight: 900;
}
.form-table td.value {
  background-color: #ffffff;
}

.form-table tr:last-child {
  border-bottom: none;
}
.form-table input, .form-table label {
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.form-table .lightcontroller img {
  cursor: pointer;
  vertical-align: middle;
}
.form-table .p-inputtext-sm {
  padding: 10px; /* Increased padding inside input fields */
  border-radius: 4px; /* Rounded corners for input fields */
  border: 1px solid #ccc;
}

.playlist-icon {
  color: #333; /* 設置圖示顏色 */
  font-size: 24px;
  margin-right: 5px;
}

.playlist-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.main {
  background: linear-gradient(to bottom, #DDD 0%, #DDD 80%, #f5f9f9 100%);
}



