.news-section,h3 {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.leftcontainer {

  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 100%;
  max-height: 100%;

}

.rightcontainer {

  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 100%;
  max-height: 100%;

}

.light{
  transform: scale(0.7);
}

.light:hover, :focus{
  cursor: pointer ;
  transform: scale(1);
}

.light:active{
  transform: scale(0.5);
}

.brick{
  padding: 20PX;
}

.p-inputtext-sm:focus {
background-color: #ffffff;
}

.btncorner{
padding:5px;
display: flex;
flex-direction: row;
text-align: left;
}

.btnedit{
border-radius: 0%;
width:120px;
height:40px;
}

.btncancel{
  background:  #17a2b8;
  width:120px;
  height:40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  h4{
    color:  #4a525c ;
  }
}

.btncancel:active{
  transform: scale(0.95);
}

button{
  height: 28px; border: 0; background-color: #17a2b8;
}


button:hover , :focus {
  background-color: #00c8d6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  cursor: pointer ;
}

.btncancel:hover ,:focus {
  cursor: pointer ;
  background: #00c8d6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  h4{
    color:  #212529;
  }
}

.txtbtn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #333;
  background: linear-gradient(to right, #00c8d6, #17a2b8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
}

.txtbtn:active {
  transform: scale(0.95);
}

.link:hover ,:focus{
  text-decoration: none;
  h2{
    color: #212529;
  }
}

.link{
  h2{
    color: #4a525c ;
  }
}

.txtbtn:hover, .txtbtn:focus {
  cursor: pointer ;
  background: linear-gradient(to right, #17a2b8, #00c8d6);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.small-image {
  width: 150px;
  height: 150px;
}

.tree{
  display: flex;
  flex-direction: row;
  text-align: center;
  max-height: 150px;
}
.secend {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;

}

.news-section {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 0px;
  background-color: #f9f9f9;
  max-height: 300px;
  overflow-y: auto; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.news-list {
  padding-right: 10px; 
}

.news-section h3 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #333;
}

.news-section::-webkit-scrollbar {
  width: 12px; 
}

.news-section::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px; 
}

.news-section::-webkit-scrollbar-thumb {
  background: #17a2b8; 
  border-radius: 10px; 
}

.news-section::-webkit-scrollbar-thumb:hover {
  background: #00c8d6; 
}

.news-section::-webkit-scrollbar-thumb:active {
  background: #007bff; 
}

.news-header:hover, :focus{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.news-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.news-item {
  margin-bottom: 15px; /* 每條消息的間距 */
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.gradetxt{
  display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

@keyframes gradepic {
  0% {
    opacity: 1;
  }
  50%{
  opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.gradepic {
  animation-name: gradepic;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.gradediv{
  display: flex;
  flex-direction: row;
  padding: 2px;
  height: 30px;
}

.news-item:last-child {
  border-bottom: none;
}

.news-header {
  display: flex;
  cursor: pointer; /* 鼠標懸停顯示指針 */
  padding: 5px;
  border-radius: 4px;
  background-color: #e9ecef; /* 背景顏色 */
}

.news-header:hover {
  background-color: #dee2e6; /* 懸停效果 */

}

.news-date {
  font-size: 0.9em; 
  color: #6c757d;
}

.news-title {
  margin-left: 30px;
  font-size: 1.1em;
  font-weight: bold;
  color: #17a2b8; 
}

.news-summary {
  margin-top: 5px;
  font-size: 0.95em;
  color: #333;
}

.modify-area {
  background: #f9f9f9;
  border-radius: 0px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.profile-header {
  display: flex;
  align-items: flex-end; 
  gap: 10px; 
}

.rounded-circle {
  width: 100px; 
  height: 100px; 
}

.profile-info {
  display: flex;
  align-items: flex-end;
}

.picdiv{
text-align:left;
flex-direction: row
}

.crown {
  width: 25px;
  margin-right: 5px; 
  margin-bottom: 10px;
}

.profile-info label {
  font-size: 1rem; 
}


.profile-image-container {
  position: relative; 
  display: inline-block; 

}

.mpic {
  width: 150px; 
  height: 150px; 
  border-radius: 50%; 
  object-fit: cover; 
  background-color: transparent; 
}

.mpicdiv {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  background-color: #D1E9E9;
  border-radius: 10px 10px 0px 0px;
  height: 30px;
  cursor:pointer;

}
.mpicdiv :hover{
  opacity: 0.5;

}

.edit-button {
  width: 150px; 
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-weight:900
}

.edit-button img{
  width:20px;

}

.modify-area{
  padding:10px;
}



