@model Backstage.Models.SeriesList

@{
    ViewData["Title"] = "Details";
}

<h1>系列詳細</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeriesName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeriesName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SeriesId" class="btn btn-primary me-2">編輯</a> |
    <a asp-action="Index" class="btn btn-primary me-2">回到列表</a>
</div>
