<header>
  <link rel="stylesheet" href="https://unpkg.com/primeflex@latest/primeflex.css">
</header>

<div class="container-fluid mb-3 d-flex justify-content-center" style="background-image: linear-gradient(#6C757D, rgba(255, 255, 255, 0));">
    <h1 style="color: rgb(0, 0, 0); margin-top: 20px;">本月主題：不朽經典</h1>
</div>
<div class="container-fluid mb-3 d-flex justify-content-center">
    <div class="carousel-container" style="width: 1200px;">
        <p-carousel [value]="images" [numVisible]="1" [circular]="true" [autoplayInterval]="3500">
            <ng-template pTemplate="item" let-image>
                <div class="carousel-item-container" style="height: 430px; position: relative;">
                    <img [src]="image.imagePath" class="position-absolute w-100 h-100" style="object-fit: cover;">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 700px;">
                            <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">{{image.name}}</h1>
                            <p class="mx-md-5 px-5 animate__animated animate__bounceIn">{{image.description}}</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>
<!-- Carousel End -->

<h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="pr-3" style="color: Black;">推薦影片</span></h2>
<!-- <h3 style="color: black;">推薦影片</h3> -->
<div class="card flex justify-content-center mx-xl-5 mb-4 " style="width: fit-content; position: relative;">
  <div class="slider-background" [ngStyle]="{ 'left': selectedVideoType === 1 ? '0%' : '50%' }"></div>

  <div class="custom-buttons">
    <button [ngClass]="{'active': selectedVideoType === 1}" (click)="onOptionSelect(1)">
      電影
    </button>
    <button [ngClass]="{'active': selectedVideoType === 2}" (click)="onOptionSelect(2)">
      影集
    </button>
  </div>
</div>

<div class="trending-carousel">
    <p-carousel [value]="videos" [numVisible]="videos.length >= 7 ? 7 : videos.length" [numScroll]="3" [circular]="true" [responsiveOptions]="responsiveOptions" styleClass="carousel-div">
      <ng-template let-video pTemplate="item">
        <div class="video-card">
          <div class="video-thumbnail">
            <a [routerLink]="['/video-db/details', video.videoId]">
              <img [src]="video.thumbnailPath" [alt]="video.videoName" class="video-image" />
            </a>
          </div>
          <div class="video-details">
            <h3 style="color: rgb(65, 65, 65);">{{ video.videoName }}</h3>
          </div>
        </div>
      </ng-template>
    </p-carousel>
</div>

<div class="container-fluid pt-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="pr-3" style="color: Black;">影片類型</span></h2>
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" [routerLink]="['/video-db/search']" [queryParams]="{ genreNames: '動作' }" queryParamsHandling="merge">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 120px; height: 100px;">
                        <img class="img-fluid" src="/assets/img/action.png" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h3 style="margin-bottom: 0;">動作</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" [routerLink]="['/video-db/search']" [queryParams]="{ genreNames: '驚悚' }" queryParamsHandling="merge">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 120px; height: 100px;">
                        <img class="img-fluid" src="/assets/img/thriller.png" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h3 style="margin-bottom: 0;">驚悚</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" [routerLink]="['/video-db/search']" [queryParams]="{ genreNames: '劇情' }" queryParamsHandling="merge">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 120px; height: 100px;">
                        <img class="img-fluid" src="/assets/img/drama.png" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h3 style="margin-bottom: 0;">劇情</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" [routerLink]="['/video-db/search']" [queryParams]="{ genreNames: '喜劇' }" queryParamsHandling="merge">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 120px; height: 100px;">
                        <img class="img-fluid" src="/assets/img/comedy.png" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h3 style="margin-bottom: 0;">喜劇</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" [routerLink]="['/video-db/search']" [queryParams]="{ genreNames: '科幻' }" queryParamsHandling="merge">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 120px; height: 100px;">
                        <img class="img-fluid" src="/assets/img/sci-fi.png" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                      <h3 style="margin-bottom: 0;">科幻</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" [routerLink]="['/video-db/search']" [queryParams]="{ genreNames: '恐怖' }" queryParamsHandling="merge">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 120px; height: 100px;">
                        <img class="img-fluid" src="/assets/img/horror.png" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                      <h3 style="margin-bottom: 0;">恐怖</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" [routerLink]="['/video-db/search']" [queryParams]="{ genreNames: '愛情' }" queryParamsHandling="merge">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 120px; height: 100px;">
                        <img class="img-fluid" src="/assets/img/romance.png" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                      <h3 style="margin-bottom: 0;">愛情</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" [routerLink]="['/video-db/search']" [queryParams]="{ genreNames: '冒險' }" queryParamsHandling="merge">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 120px; height: 100px;">
                        <img class="img-fluid" src="/assets/img/survival.png" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                      <h3 style="margin-bottom: 0;">冒險</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" [routerLink]="['/video-db/search']" [queryParams]="{ genreNames: '動畫' }" queryParamsHandling="merge">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 120px; height: 100px;">
                        <img class="img-fluid" src="/assets/img/animation.png" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                      <h3 style="margin-bottom: 0;">動畫</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" [routerLink]="['/video-db/search']" [queryParams]="{ genreNames: '奇幻' }" queryParamsHandling="merge">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 120px; height: 100px;">
                        <img class="img-fluid" src="/assets/img/fantasy.png" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                      <h3 style="margin-bottom: 0;">奇幻</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" [routerLink]="['/video-db/search']" [queryParams]="{ genreNames: '歷史' }" queryParamsHandling="merge">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 120px; height: 100px;">
                        <img class="img-fluid" src="/assets/img/historical.png" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                      <h3 style="margin-bottom: 0;">歷史</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" [routerLink]="['/video-db/search']" [queryParams]="{ genreNames: '紀錄' }" queryParamsHandling="merge">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 120px; height: 100px;">
                        <img class="img-fluid" src="/assets/img/documentary.png" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                      <h3 style="margin-bottom: 0;">紀錄</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="container-fluid pt-5 pb-3">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4" style="color: black;">
    <span>熱門文章</span>
  </h2>

  <!-- 使用 *ngIf 判斷是否有文章 -->
  <div *ngIf="popularArticle && popularArticle.length > 0" class="grid article-list">
    <!-- 使用 *ngFor 迭代顯示文章 -->
    <div *ngFor="let article of popularArticle" class="col-12 sm:col-6 md:col-4 lg:col-3">
      <div class="p-card p-component article-item-grid">
        <div class="card-content-grid">
          <div class="card-image-grid">
            <img
              (click)="navToArticle(article.articleId)"
              class="article-cover-grid"
              [src]="
                getFirstImageSrc(article.articleContent) ||
                '/assets/images/defaultImg.png'
              "
              [alt]="article.title"
            />
          </div>
          <div class="card-body-grid">
            <a routerLink="forum/{{ article.articleId }}">
              <div class="p-card-title-grid">{{ article.title }}</div>
            </a>
            <div class="p-card-subtitle-grid">
              <p-tag class="label-tag" value="{{ article.themeName }}" />
              {{ article.nickName }}
            </div>
            <a routerLink="forum/{{ article.articleId }}">
              <p [ngStyle]="{ color: '#2D9CDB', 'font-weight': 'bold' }">
                {{ truncateText(article.articleContent, 55) }}
              </p>
            </a>

            <p>
              <i class="pi pi-comments"></i> 回覆數: {{ article.replyCount }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 如果沒有文章，顯示提示信息 -->
  <div *ngIf="!popularArticle || popularArticle.length === 0" class="no-articles">
    沒有文章可顯示。
  </div>
</div>
