
<!-- <table>
  <thead>
    <tr>
      <th>會員名稱</th>
      <th>影片名稱</th>
      <th>方案名稱</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of sc">
      <td>{{ item.memberName }}</td>
      <td>{{ item.videoName }}</td>
      <td>{{ item.planName }}</td>
      <td><button>去結帳</button></td>
    </tr>
  </tbody>
</table>

<br><br><br> -->

<div class="mem_page_border">
  <div class="table-container">
      <table class="general-table">
          <tr>
              <th colspan=2 width="45%" class="text_center">
                  電影名稱
              </th>
              <th class="text_center" width="20%">方案</th>
              <th class="text_center" width="10%">數量</th>
              <th class="text_center" width="10%">價格</th>
              <th class="text_center" width="15%">操作</th>
          </tr>
          <tr *ngFor="let item of sc">
              <!-- 照片 -->
              <td class="text_center" width="10%"  data-web='20210703a'  >
                  <div class="pic" style="position:relative;"><a href="goods_detail.php?gid=5134611" target="_blank"><img src={{item.imagePath}}/></a></div>
              </td>
              <!-- 商品名稱 -->
              <td width="37%" class="text_left">
                  <div class="blue">{{ item.videoName }}</div>
              </td>

              <!-- 預期是要放select -->
              <td class="text_center">{{ item.planName }}</td>

              <!-- 數量 -->
              <td class="text_center">
                  <input type="text" id="amount_3001643" style="width:50px;text-align:center;vertical-align:top;height:25px;" value="1" disabled>
                  <div style="color: red;">已達到最大數量</div>
              </td>

              <!-- 小計 -->
              <td class="t_red t_bold text_center">
                  <span id="subtotal_3001643">{{ item.price }}</span>元
              </td>

              <!-- 管理 -->
              <td class="text_left">
                  <div class="info">
                      <a href="javascript:void(0);" onclick="doFollowGoods('5134611')">修改</a>
                      <a href="javascript:void(0);" data-sc-id="3001643" onclick="doDel_1(this,'MDNkMGU0ODI1MTRhZGFhOTNjNGVmZWNkZGZmMmQ4NDg=','237842_2')">刪除</a>
                  </div>
              </td>
          </tr>
          <!-- 下方結算欄 -->
          <tr style="background-color: #f3f3f3;">
              <td colspan=5></td>
              <td style="margin:0;padding:0px 0px;border:0px;">
                  <span class="td_gray" id="237842_2_check">結帳</span>
              </td>
          </tr>
      </table>
  </div>
</div>
