
<div class="mem_page_border">
  <div class="table-container">
      <table class="general-table">
          <tr>
              <th colspan=2 width="45%" class="text_center" style="background-color: #99b6b7; color: #fff; font-size: large;">
                  電影名稱
              </th>
              <th class="text_center" width="20%" style="background-color: #99b6b7; color: #fff; font-size: large;">方案</th>
              <th class="text_center" width="10%" style="background-color: #99b6b7; color: #fff; font-size: large;">數量</th>
              <th class="text_center" width="10%" style="background-color: #99b6b7; color: #fff; font-size: large;">價格</th>
              <th class="text_center" width="15%" style="background-color: #99b6b7; color: #fff; font-size: large;">操作</th>
          </tr>
          <tr *ngFor="let item of sc" (click)="selectItem(item)" [class.selected]="item === selectedItem">
              <!-- 照片 -->
              <td class="text_center" width="10%" style="font-size: large;">
                  <div class="pic" style="position:relative;"><a><img src={{item.imagePath}}/></a></div>
              </td>
              <!-- 商品名稱 -->
              <td width="37%" class="text_center" style="font-size: large;">
                  <div class="blue">{{ item.videoName }}</div>
              </td>

              <!-- 預期是要放select -->
              <!-- <td class="text_center">{{ item.planName }}</td> -->
              <td class="text_center" style="font-size: large;">
                <select [(ngModel)]="item.planId" (change)="updatePlan(item)" style="border-radius: 2px;">
                  <option *ngFor="let plan of plans" [value]="plan.planId">{{ plan.planName }}</option>
                </select>
              </td>


              <!-- 數量 -->
              <td class="text_center" style="font-size: large;">
                  <input type="text" id="amount_3001643" style="width:50px;text-align:center;vertical-align:top;height:25px;" value="1" disabled>
                  <div style="color: red;">最大上限</div>
              </td>

              <!-- 小計 -->
              <td class="t_red t_bold text_center" style="font-size: large;">
                  <span id="subtotal_3001643">{{ item.price }}</span>元
              </td>

              <!-- 管理 -->
              <td class="text_center" style="font-size: large;">
                  <div class="info">
                      <!-- <a >修改</a> -->
                      <a (click)="deleteShoppingCart(item.shoppingCartId)">刪除</a>
                  </div>
              </td>
          </tr>
          <!-- 下方結算欄 -->
          <tr >
              <td colspan=5 style="background-color: #99b6b7;"></td>
              <!-- <td style="margin:0;padding:0px 0px;border:0px; background-color: #99b6b7;">
                <button class="td_background" (click)="toggleForm()"></button>
              </td> -->
              <td style="margin:0;padding:0px 0px;border:0px; background-color: #99b6b7;">
                  <button [ngClass]="{'td_yellow': selectedItem, 'td_gray': !selectedItem}" [disabled]="!selectedItem" (click)="checkout()">結帳</button>
              </td>
          </tr>
      </table>
  </div>
</div>

<div *ngIf="showForm">
  <button (click)="addCart(2)">快速新增影片</button>
  <h2>新增購物車資料</h2>
  <form (ngSubmit)="onSubmit()">
    <label for="videoId">影片ID:</label>
    <input id="videoId" [(ngModel)]="newShoppingCart.videoId" name="videoId" required>
    <br>
    <label for="planId">計劃ID:</label>
    <input id="planId" [(ngModel)]="newShoppingCart.planId" name="planId" required>
    <br>
    <button type="submit">新增購物車</button>
  </form>
</div>
