<div class="myContainer">
  <nav class="card">
    <!-- 搜尋和換頁功能放在同一個區塊 -->
    <div class="pageBar">
      <!-- 換頁功能 -->
      <div class="slider gap-3">
        <span class="text-label">筆數:{{ forumDto.pageSize }}</span>
        <p-slider
          [(ngModel)]="forumDto.pageSize"
          (ngModelChange)="onSliderChange()"
          [style]="{ width: '10rem' }"
          [min]="10"
          [max]="100"
          [step]="10"
        ></p-slider>
      </div>
      <div class="page">
        <p-paginator
          (onPageChange)="changePage($event)"
          [first]="pages.first"
          [rows]="forumDto.pageSize"
          [totalRecords]="pages.totalRecords"
          [showFirstLastIcon]="true"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="{first} - {last} 共 {totalRecords}筆"
        ></p-paginator>
      </div>
      <!-- 搜尋功能 -->
      <div class="searchFlex">
        <div>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              type="text"
              pInputText
              pTooltip="作者、標題、內容"
              [(ngModel)]="forumDto.keyword"
              (keydown.enter)="search()"
              placeholder="搜尋此討論區"
            />
          </span>
        </div>
        <div class="fixed-button">
          <p-button
            label="發表文章"
            icon="fa fa-plus"
            (onClick)="openCreateArticleDialog()"
          ></p-button>
        </div>
      </div>
    </div>
  </nav>

  <!-- 文章列表開始 -->
  <main class="mainPart">
    <!-- 左側廣告區-->
    <div class="d1">
      <div id="ad-container">
        <!-- 廣告 -->
        <a href="Https://www.google.com.tw">
          <p-galleria
            [value]="images"
            [autoPlay]="true"
            [circular]="true"
            [showThumbnails]="false"
            [transitionInterval]="10000"
          >
            >
            <ng-template pTemplate="item" let-item>
              <img [src]="item.pic" />
            </ng-template>
          </p-galleria>
        </a>
      </div>
    </div>
    <!-- 中間上方篩選主題 -->
    <div class="d2">
      <div class="button-container">
        <p-button
          styleClass="allBtn"
          (onClick)="loadTheme(0)"
          label="全部主題"
          class="ui-button"
        ></p-button>

        <p-button
          styleClass="myArticleBtn"
          (onClick)="loadTheme(0)"
          label="我的發文"
        ></p-button>

        <p-button
          styleClass="themeBtn"
          *ngFor="let item of themeTag"
          (onClick)="loadTheme(item.themeId)"
          label="{{ item.themeName }}"
        ></p-button>
      </div>
      <div class="article" *ngIf="!loading">
        <p-dataView [value]="articles" layout="grid" [paginator]="false">
          <!-- Grid Item 模板 -->
          <ng-template pTemplate="gridItem" let-article>
            <div class="p-card grid-item">
              <div class="card-content">
                <div class="card-image">
                  <a routerLink="{{ article.articleId }}"
                    ><img
                      class="article-cover"
                      [src]="
                        article.coverImageUrl || 'assets/images/avantar.jpg'
                      "
                      [alt]="article.title"
                  /></a>
                </div>
                <div class="card-body">
                  <a routerLink="{{ article.articleId }}">
                    <div class="p-card-title">{{ article.title }}</div>
                  </a>
                  <div class="p-card-subtitle">
                    <p-tag class="label-tag" value="{{ article.themeName }}" />
                    {{ article.nickName }}
                  </div>

                  <div class="p-card-body-content">
                    <a routerLink="{{ article.articleId }}">
                      <p
                        [ngStyle]="{ color: '#2D9CDB', 'font-weight': 'bold' }"
                      >
                        {{ truncateText(article.articleContent, 60) }}
                      </p>
                    </a>
                    <p>
                      <i class="pi pi-calendar"></i> 更新時間:
                      {{ article.updateDate | forumDate }}
                    </p>
                    <p>
                      <i class="pi pi-comments"></i> 回覆數:
                      {{ article.replyCount }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-dataView>
      </div>
      <div *ngIf="loading">資料載入中...</div>
    </div>
    <!-- 右側聊天室 -->
    <div class="d3">
      <!-- 聊天室區域 -->
      <div class="chat-section">
        <div class="chat-header">
          <h1>聊天室</h1>
        </div>
        <div class="chat-messages">
          <div class="message">
            <div class="message-user">用戶1:</div>
            <div class="message-text">你好！</div>
          </div>
          <div class="message">
            <div class="message-user">用戶2:</div>
            <div class="message-text">嗨，你好！</div>
          </div>
          <!-- 更多消息可以添加在這裡 -->
        </div>
        <div class="chat-input">
          <input type="text" placeholder="輸入消息..." />
          <button>發送</button>
        </div>
      </div>
    </div>
  </main>
</div>
