<div class="container-fluid bg-dark text-secondary mt-5 pt-5">
  <div class="row px-xl-5 pt-5">
      <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
          <h5 class="text-secondary text-uppercase mb-4">聯絡方式</h5>
          <p class="mb-4">iSpan 資展國際</p>
          <p class="mb-2"><i class="pi pi-map-marker text-primary mr-3"></i>106台北市大安區復興南路一段390號2樓</p>
          <p class="mb-0"><i class="pi pi-phone text-primary mr-3"></i>02 6631 6588</p>
      </div>
      <p class="mb-md-0 text-center text-md-left text-secondary">
        &copy; <a class="text-primary" href="#">Domain</a>. All Rights Reserved. Designed by
        <a class="text-primary" href="https://htmlcodex.com">HTML Codex</a>
    </p>
</div>
<!-- Footer End -->
