.playlist-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  min-height: 60px;
}

.playlist-thumbnail {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 3px;
}

.playlist-item-info {
  flex-grow: 1;
  margin-left: 10px;
}

.playlist-item-info h4 {
  margin: 0;
  font-size: 16px;
  color: #343a40;
}

.playlist-item-info p {
  margin: 2px 0 0;
  font-size: 14px;
  color: #6c757d;
}

.playlist-item-actions {
  display: flex;
  align-items: center;
}

::ng-deep .playlist-item-actions .p-button-danger {
  background: none;
  border: none;
  padding: 0;
  box-shadow: none;
  margin-right: 10px;
}

::ng-deep .playlist-item-actions .p-button-danger .pi {
  font-size: 20px;
  color: #17A2B8;
}

::ng-deep .playlist-item-actions .p-button-danger:hover .pi {
  color: #138496;
}

::ng-deep .playlist-item-actions .p-button-danger:focus {
  outline: none;
}

.draggable-handle {
  cursor: grab;
  color: #17A2B8;
  font-size: 18px;
}

.draggable-handle:active {
  cursor: grabbing;
}
