<div class="create-article-container">
  <div class="d20"></div>
  <form class="d60" [formGroup]="articleForm" (ngSubmit)="onSubmit()">
    <!-- 標題 -->
    <h2>發表新文章</h2>
    <div class="form-group">
      <label for="title">文章標題</label>
      <input
        id="title"
        formControlName="title"
        type="text"
        class="form-control"
        placeholder="輸入文章標題"
      />
      <div>標題為必填項目</div>
    </div>

    <!-- 內文 -->
    <div class="form-group">
      <label for="content">文章內文</label>
      <textarea
        id="content"
        formControlName="content"
        rows="5"
        class="form-control"
        placeholder="輸入文章內文"
      ></textarea>
      <div
        *ngIf="
          articleForm.get('content').invalid &&
          articleForm.get('content').touched
        "
        class="error-message"
      >
        內文為必填項目
      </div>
    </div>

    <!-- 分類 -->
    <div class="form-group">
      <label for="category">文章分類</label>
      <select id="category" formControlName="category" class="form-control">
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
    </div>

    <!-- 標籤 -->
    <div class="form-group">
      <label for="tags">文章標籤</label>
      <p-multiSelect
        formControlName="tags"
        [options]="tagOptions"
        defaultLabel="選擇標籤"
      ></p-multiSelect>
    </div>

    <!-- 提交按鈕 -->
    <div class="form-group">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="articleForm.invalid"
      >
        發表文章
      </button>
    </div>
  </form>
  <div class="d20"></div>
</div>
