<div class="create-article-container">
  <form class="d60" [formGroup]="articleForm" (ngSubmit)="onSubmit()">
    <!-- 標題 -->
    <h2>發表新文章</h2>


    <!-- 分類 -->

    <div class="form-group">
      <p-dropdown
        formControlName="themeTag"
        [options]="themeTag"
        optionLabel="themeName"
        placeholder="請選擇主題"
        [showClear]="true"
      />
    </div>

    <div class="form-group">
      <label class="label" for="title">文章標題</label><br />
      <input
        id="title"
        formControlName="title"
        type="text"
        class="form-title"
        placeholder="輸入文章標題"
      />
      <div
        *ngIf="
          articleForm.get('title').invalid && articleForm.get('title').touched
        "
        class="error-message"
      >
        請填入您的標題
      </div>
    </div>

    <!-- 內文 -->
    <div class="form-group">
      <label for="content">文章內文</label>
      <textarea
        id="content"
        formControlName="content"
        rows="13"
        class="form-control"
        placeholder="輸入文章內文"
      ></textarea>
      <div
        *ngIf="
          articleForm.get('content').invalid &&
          articleForm.get('content').touched
        "
        class="error-message"
      >
        請填入您的內文
      </div>
    </div>

    <!-- 提交按鈕 -->
    <div class="form-group">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="articleForm.invalid"
      >
        發表文章
      </button>
    </div>
  </form>
</div>

