@model Backstage.Models.SeasonList

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SeasonList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SeriesId" class="control-label"></label>
                <input asp-for="SeriesId" class="form-control" />
                <span asp-validation-for="SeriesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeasonName" class="control-label"></label>
                <input asp-for="SeasonName" class="form-control" />
                <span asp-validation-for="SeasonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeasonNumber" class="control-label"></label>
                <input asp-for="SeasonNumber" class="form-control" />
                <span asp-validation-for="SeasonNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EpisodeCount" class="control-label"></label>
                <input asp-for="EpisodeCount" class="form-control" />
                <span asp-validation-for="EpisodeCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
