
<header>
  <link rel="stylesheet" href="https://unpkg.com/primeflex@latest/primeflex.css">   
</header>

<div class="custom-card" *ngIf="video" [ngStyle]="{ 'background-image': 'url(' + video.bgpath+ ')' }">
  <div class="card-body">
    <div class="image-container">
      <p-image
        [src]="video.thumbnailPath"
        alt="{{ video.videoName }}"
        class="video-image"
        [preview]="true"
        width="300px"
        height="450px"
      ></p-image>
      <br>
      <div class="button-container">
        <a
          class="button"
          style="text-decoration-line: none;"
          pButton
          pRipple
          [href]="video.trailerUrl"
          target="_blank"
        >串流</a>
        <a
          class="button"
          style="text-decoration-line: none;"
          pButton
          pRipple
          [href]="video.trailerUrl"
          target="_blank"
        >購買或租借</a>
        <a *ngIf="video.isShowing"
          class="button"
          style="text-decoration-line: none;"
          pButton
          pRipple
          (click) = "onBookTicket()"
          target="_blank"
        >訂票</a>
      </div>
    </div>
    <div class="text-content">
      <h1 >{{ video.videoName }}</h1>
      <div>
        <a
        class="button"
        style="text-decoration-line: none;"
        pButton
        pRipple
        target="_blank"
        icon="pi pi-heart"
        >加入最愛</a>
        <a
        class="button add-to-playlist-button"
        style="text-decoration-line: none;"
        pButton
        pRipple
        (click)="showAddToPlaylist()"
        icon="pi pi-plus-circle"
        >加入片單</a>
        <a
        class="button"
        style="text-decoration-line: none;"
        pButton
        pRipple
        icon="pi pi-play"
        (click)="overLayToggle()">觀看預告片</a>
      </div>
      <div>
        <p *ngIf="season?.seasonName"><strong>季:</strong> {{ season?.seasonName }}</p>
        <p *ngIf=" video?.episode"><strong>集:</strong> {{ video.episode }}</p>
        <p><strong>片長:</strong> {{ video.runningTime }}</p>
        <p><strong>上映日期:</strong> {{ video.releaseDate | date }}</p>
        <p *ngIf="avgRating>0"><strong>評分:</strong> {{avgRating}} / 10<a (click)="openRatingPanel($event, op)" class="rating-link">
          <i class="pi pi-star-fill"></i> 留下評分
        </a></p>
        <p *ngIf="avgRating === 0 || avgRating === undefined"><strong>評分:</strong> 尚無評分 <a (click)="openRatingPanel($event, op)" class="rating-link">
          <i class="pi pi-star-fill"></i> 留下評分
        </a></p>
        <p-toast position="center" key="confirm" (onClose)="onReject()" [baseZIndex]="5000">

          <ng-template let-message pTemplate="message">
              <div class="flex flex-column" style="flex: 1">
                  <div class="text-center">
                      <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                      <h4>{{message.summary}}</h4>
                      <p>{{message.detail}}</p>
                  </div>
                  <div class="grid p-fluid">
                      <div>
                          <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success  full-width-btn"></button>
                      </div>
                      <div>
                          <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary full-width-btn"></button>
                      </div>
                  </div>
              </div>
          </ng-template>
      </p-toast>
      <p-toast position="top-center" key="global"></p-toast>
        <p-overlayPanel #op>
          <ng-template pTemplate="content">
            <p style="margin-top: 0;"><strong>您的評分：{{userRating}}</strong></p>
              <div class="card flex justify-content-center" *ngIf="userID !==0">
                <p-rating [readonly]="isUserHaveRated" [(ngModel)]="userRating" (onRate)="confirm($event, op)" [stars]="10"></p-rating>
              </div>
              <div class="card flex justify-content-center" *ngIf="userID ===0">
                <p><strong>請先登入!</strong></p>
              </div>
          </ng-template>
        </p-overlayPanel>

        <p><strong>語言:</strong> {{ video.lang }}</p>
        <p><strong>簡介:</strong> 一場盛大熱鬧的婚禮派對即將展開，這是黑手黨黨魁唐柯里昂尼（馬龍白蘭度 飾）為女兒舉行的婚禮。當年由西西里隻身流浪到美國的唐，步步為營成為黑幫大亨，然而歲月不饒人讓他疲態盡現，所以想將衣缽傳承給兒子。老大桑尼（詹姆士肯恩 飾）衝動暴躁，老二佛雷多（約翰卡佐爾 飾）懦弱無能，老三麥可（艾爾帕西諾 飾）是戰爭英雄，卻不願捲入黑社會是非。<br>
        由於唐堅持不和其它幫派合作毒品買賣，得罪對他心生不滿已久的其它幫派，更對他的家族展開一連串狙殺行動，以致桑尼和麥可的新婚妻子遭致殺害，而唐竟姑息此事，不願讓事情越演越烈。身體精神狀況不如從前的唐，與孫兒嬉戲時遏然過世，逃亡在外的三子麥可得知消息後，毅然返回美國接掌父業，更因而成為黑手黨教父，開始籌畫報仇大業…</p>
      </div>
      <div>
        <p><strong>導演:</strong> 法蘭西斯·科波拉</p>
        <p><strong>主演:</strong> 馬龍‧白蘭度 </p>
      </div>
      <div class="flex ">

      </div>

    </div>
  </div>
</div>

<div class="p-grid p-nogutter">
  <!-- 左邊: 主要演員列表 -->
  <div class="p-col-12 p-md-9">
    <h2>主要演員</h2>
    <div class="actors-container p-d-flex p-flex-wrap p-jc-start">
      <div *ngFor="let actor of actors" class="actor-card p-mr-2 p-mb-3">
        <img [src]="actor.imagePath" alt="{{ actor.name }}">
        <p>{{ actor.name }}</p>
      </div>
    </div>
  </div>

  <!-- 右側: 關鍵字區塊 -->
  <div class="p-col-12 p-md-3">
    <div class="keywords-container">
      <h2>關鍵字</h2>
      <div class="p-d-flex p-flex-wrap">
        <span *ngFor="let keyword of keywords" class="keyword-badge p-m-1">{{ keyword }}</span>
      </div>
    </div>
  </div>
</div>

  <!-- 下方: Carousel -->
  <div class="p-col-12 p-md-9">
    <div class="carousel-container p-mt-3">
      <p-carousel [value]="images" [numVisible]="1" [circular]="true" [autoplayInterval]="3500">
        <ng-template pTemplate="item" let-image>
          <div class="carousel-item-container">
            <img [src]="image" alt="Image" />
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>

    <!-- <p-carousel
    [value]="images"
    [numVisible]="3"
    [circular]="true"
    [autoplayInterval]="3000"
    [numScroll]="1"
    (onPage)="onCarouselPageChange($event)">
    <ng-template let-image let-index="index" pTemplate="item">
      <div class="gallery-container"
          [ngClass]="{ 'active': index === selectedIndex }"
          (click)="onImageClick(index)">
        <img [src]="image" class="gallery-image" />
      </div>
    </ng-template>
  </p-carousel> -->

<h3 style="color: black; margin-top: 2rem;">推薦影片</h3>
<div class="card recommended-videos">
  <p-carousel
    [value]="videos"
    [numVisible]="5"
    [numScroll]="2"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    [autoplayInterval]="3000"
  >
    <ng-template let-video pTemplate="item">
      <div
        class="video-carousel-item border-1 surface-border border-round m-2 text-center py-5 px-3"
      >
        <div class="mb-3">
          <a [routerLink]="['/video-db/details', video.videoId]"
            ><img
              [src]="video.thumbnailPath"
              [alt]="video.name"
              class="w-6 shadow-2"
              style="width: 200px; border-radius: 10px;"
          /></a>
        </div>
        <div>
          <h4 style="color: black" class="mb-1">{{ video.videoName }}</h4>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
<div *ngIf="trailerVisibility" class="trailerOverlay" >
  <a (click)="overLayToggle()"style="text-decoration: none;">
    <i class="pi pi-times closeButton"></i>
  </a>
  <iframe [src]="videoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" style="position: absolute;" allowfullscreen></iframe>

</div>

<!-- 全屏黑色半透明 Overlay -->
<div *ngIf="displayOverlay" class="overlay" (click)="hideOverlay()">
  <!-- 指向「加入片單」按鈕的箭頭 -->
  <div class="arrow-container">
    <div class="arrow-down"></div>
    <p>喜歡這部影片的話，點擊這裡加入片單！</p>
  </div>
</div>

