@model Backstage.Models.ImageList

@{
    ViewData["Title"] = "Create";
}

<h1>新增圖片</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="CustomFileName" class="control-label">檔案名稱</label>
                <input type="text" class="form-control" id="CustomFileName" name="CustomFileName" />
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input asp-for="ImagePath" type="file" class="form-control" id="imageUpload" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
                <br />
                <img id="imagePreview" src="@Url.Content("~/img/NoImage.png")"
                     title="尚無內容" />
            </div>
            <div class="form-group">
                <input id="submitBtn" type="submit" value="新增" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">回到列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        document.getElementById('imageUpload').addEventListener('change', function (event) {
            var input = event.target;

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    document.getElementById('imagePreview').src = e.target.result;
                }

                reader.readAsDataURL(input.files[0]);
            }
        });
    </script>
}
