.p-dataview-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 最小寬度200px，根據父容器自動調整 */
  grid-gap: 20px; /* 卡片之間的間距 */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.p-dataview-grid .p-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.p-dataview-grid img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.p-dataview {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.p-paginator {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}