.flex {
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 10px; /* 根據需要調整 */
}

.p-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

app-db-search .p-dataView .p-col-12.p-md-4 {
  flex: 1 1 calc(33.333% - 1rem) !important;
}


/* .p-dataview .p-dataview-grid .p-col-12, 
.p-dataview .p-dataview-grid .p-md-4 {
    display: inline-block ;
    width: 100%; 
}

@media (min-width: 300px) {
    .p-dataview .p-dataview-grid .p-md-4 {
        width: 33.3333%;
    }
} */