.flex {
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 10px; /* 根據需要調整 */
}

.p-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.p-col-12.p-md-4 {
  flex: 1 1 calc(33.333% - 1rem); /* 三欄顯示 */
}
p{
  color: black;
}
