.create-container {
  width: 800px;
  margin: auto;
  padding: 1rem;
}

.d20 {
  background-color: saddlebrown;
}

.error-message {
  background-color: #f8d7da; /* 淡紅色背景 */
  color: #721c24; /* 深紅色文字 */
  border: 1px solid #f5c6cb; /* 邊框顏色略深 */
  border-radius: 5px; /* 圓角 */
  padding: 0.75rem 1rem; /* 內邊距 */
  margin-top: 0.5rem; /* 與上方元素保持距離 */
  font-size: 0.875rem; /* 字體大小 */
  display: flex;
  align-items: center;
  width: 30%;
}

.error-message::before {
  content: "⚠️"; /* 錯誤圖示 */
  margin-right: 0.5rem; /* 圖示與文字間的距離 */
}

.form-control {
  width: 720px;
}

.quill-editor {
  height: 350px; /* 设置为你想要的高度 */
  background-color: #f5f5f5; /* 确保背景颜色与文本颜色不同 */
}

.ql-container {
  height: 100%; /* 确保编辑区域填满父容器的高度 */
}

.ql-editor {
  height: 100%; /* 确保文本编辑区域的高度 */
  color: #333; /* 确保文本颜色与背景对比明显 */
}

