.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

::ng-deep .p-dialog-header {
  font-family: 'Noto Sans TC', '微軟正黑體', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

textarea {
  resize: vertical;
}

.image-preview {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  margin-top: 10px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

button {
  margin-left: 10px;
}

.video-item {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.card {
  display: flex;
  align-items: center;
}

.thumbnail {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.remove-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.drag-handle {
  cursor: move;
}

.collaborator-item {
  display: flex;
  align-items: center;
}

.collaborator-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
