.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

::ng-deep .p-dialog-header {
  font-family: 'Noto Sans TC', '微軟正黑體', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

textarea {
  resize: vertical;
}

.image-preview {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  margin-top: 10px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

button {
  margin-left: 10px;
}

.video-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  transition: transform 0.2s ease, background-color 0.2s ease; /* 添加過渡效果 */
}

.video-item:hover {
  background-color: #f1f1f1; /* 當項目被懸停時改變背景顏色 */
  transform: translateY(-2px); /* 添加微妙的浮動效果 */
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-content {
  display: flex;
  align-items: center;
}

.card-actions {
  display: flex;
  align-items: center;
  margin-left: auto; /* Push actions to the right */
}

.thumbnail {
  width: 70px; /* 增大圖片尺寸 */
  height: 70px;
  margin-right: 15px;
  object-fit: cover; /* 確保圖片不會變形 */
  border-radius: 8px; /* 讓圖片有些圓角 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* 增加圖片的立體效果 */
}

.remove-button,
.move-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #17A2B8; /* 調整圖示顏色 */
}

.move-button {
  margin-left: 10px;
}

.drag-handle {
  margin-left: 10px; /* 增加與內容之間的間距 */
  cursor: grab;
  color: #666; /* 給手柄一個顏色，讓它更明顯 */
  font-size: 18px; /* 調整手柄圖示大小 */
}

.collaborator-item {
  display: flex;
  align-items: center;
}

.collaborator-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

/* 對拖曳的項目進行強調效果 */
.cdk-drag-preview {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  transform: scale(1.02); /* 輕微放大拖曳的項目 */
}

.cdk-drag-placeholder {
  background: transparent; /* 保持拖動區域透明 */
  border: 2px dashed #17A2B8; /* 添加虛線邊框作為佔位符 */
}

.cdk-drop-list-dragging .video-item {
  opacity: 0.8; /* 在拖曳時減少其他項目的不透明度 */
}
