<div class="main flex flex-wrap">
<div class="corner col-1"></div>
<div class="container col-10">
  <div class="divdropdown">  <p-dropdown [options]="demos" [(ngModel)]="selectdemo" optionLabel="name" [showClear]="true" placeholder="快速登入" (ngModelChange)="ondemochange($event)"></p-dropdown></div>
  <h1>會員登入</h1>

  <span class="p-float-label">
    <input type="text" pInputText id="email" [(ngModel)]="email" />
    <label for="email">電子信箱</label>
  </span>
  <br>
  <span class="p-float-label">
    <input type="password" pInputText id="pwd" [(ngModel)]="pwd" />
    <label for="pwd">密碼</label>
  </span>

  <!-- 添加 reCAPTCHA v2 的元素 -->
  <div id="recaptcha-container" class="g-recaptcha" [attr.data-sitekey]="siteKey"></div>
  <!-- <button (click)="login()">Sign in with Google</button> -->
  <button class="shine-button" (click)="LineLogin()"><img class="btnline" src="./../../../assets/img/Member/linebtn.png"></button>
  <button class="shine-button" (click)="onLogin()">登入</button>
  <button class="shine-button" (click)="onForgetpwd()">忘記密碼</button>
  <button class="shine-button" (click)="onregister()">註冊</button>
 </div>

<div class="corner col-1 right-align">
</div>
</div>
