h1,h2,h3,h4,h5,label,div {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

a {
  cursor: pointer;
}
.custom-dialog .p-dialog-header {
  background-color: #007ad9; /* PrimeNG Blue */
  color: white;
}

.custom-dialog .p-dialog-title {
  font-size: 1.2em;
  font-weight: bold;
}

.custom-dialog .p-dialog-footer {
  display: none; /* Hide footer if not needed */
}

.dialog-content {
  padding: 16px;
}

.gift-item {
  display: flex;
  align-items: center;
  gap: 16px;
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
}

.gift-item:last-child {
  border-bottom: none;
}

.gift-icon img {
  width: 24px;
  height: 24px;
}

.gift-details {
  flex: 1;
}

.gift-label {
  font-weight: bold;
  margin-right: 8px;
}

.gift-desc {
  margin: 4px 0;
}

.gift-images {
  display: flex;
  gap: 8px;
}

.default-img,
.custom-img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.custom-img {
  object-fit: cover;
}
