::ng-deep .topbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

::ng-deep .topbar .add-icon {
  font-size: 2rem;
  color: #17A2B8;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

::ng-deep .topbar .add-icon:hover {
  color: #138496;
  transform: rotate(360deg);
}

::ng-deep .topbar .trash-icon {
  font-size: 2rem;
  color: #17A2B8;
  cursor: pointer;
  transition: color 0.3s;
}

::ng-deep .trash-spin {
  animation: trashRotate 1s infinite linear;
}

@keyframes trashRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

::ng-deep .playlist-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

::ng-deep .playlist-section {
  flex: 1;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 8px;
}

::ng-deep .playlist-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

::ng-deep .playlist-cards div {
  transition: transform 1s ease-in-out;
}

::ng-deep .custom-card-three {
  flex: 1 1 300px;
  max-width: 300px;
  box-sizing: border-box;
  font-size: 14px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
  transition: transform 0.3s, box-shadow 0.3s;
}

::ng-deep .custom-card-three img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: top;
  display: block;
  margin-bottom: 15px;
}

::ng-deep .custom-card-three p {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
  text-align: center;
}

::ng-deep .button-group {
  display: flex;
  justify-content: space-between;
}

::ng-deep .p-button {
  flex: 1;
  margin-top: 10px;
  background-color: transparent;
  color: #17A2B8;
  border: none;
  font-size: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}

::ng-deep .p-button:hover {
  background-color: #e0e0e0;
  color: #6C757D;
}

::ng-deep .p-button:focus {
  outline: none;
  box-shadow: none;
}

::ng-deep .playlist-section {
  color: #333;
  font-size: 16px;
  margin-bottom: 20px;
}

::ng-deep h2 {
  flex-basis: 100%;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

@media (max-width: 1024px) {
  ::ng-deep .custom-card-three {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  ::ng-deep .custom-card-three {
    flex: 1 1 100%;
  }
}
