
@section Styles{
    <style>
        body>div>.content{
            background-color: #e3f2fd;
            background-image: url("https://www.transparenttextures.com/patterns/diagonal-striped-brick.png");
        }

    </style>
}

<h1>社群後台管理系統</h1>
<div class="row">
    <div >
        <a asp-controller="Articles" asp-action="Index" class="btn btn-primary"><i class="fa fa-calendar me-2"></i>文章管理</a>
        <a asp-controller="Posts" asp-action="Index" class="btn btn-primary"><i class="fa fa-calendar me-2"></i>回文管理</a>
        <a asp-controller="FriendLists" asp-action="Index" class="btn btn-primary"><i class="fa fa-calendar me-2"></i>好友管理</a>
    </div>
    <div>
        <img src="~/img/forumfirts.jpeg" class="min-vh-100"/>
    </div>
</div>



@section Scripts{
    <script>


    </script>
}