<div class="ticket-container">
  <div class="movie-container">
    <div class="movie-poster">
      <img src={{posterUrl}} alt="阿甘" />
    </div>

    <div class="movie-info">
      <h2>{{ movieName }}</h2>
      <!-- <h4>Deadpool & Wolverine</h4> -->
      <p><strong>片長: </strong> {{runningTime}}</p>
      <p>
       <strong>簡介: </strong>{{summary}}
      </p>
    </div>
  </div>

  <div class="cinema-selection">
    <label for="cinema"><strong>選擇影院：</strong></label>
    <!-- 確保 ngModel 只綁定 CinemaId -->
    <select
      id="cinema"
      [(ngModel)]="selectedCinemaId"
      (change)="onCinemaChange($event)"
      class="form-control"
    >
      <option *ngFor="let cinema of cinemas" [value]="cinema.CinemaId">
        {{ cinema.CinemaName }}
      </option>
    </select>
  </div>

  <!-- 根據選擇的影院顯示對應的放映時間 -->
  <div *ngIf="selectedCinema" class="showtimes">
    <h3>{{ selectedCinema.CinemaName }}的上映時間</h3>
    <div *ngFor="let hall of selectedCinema.Halls" class="hall-container">
      <h4>{{ hall.HallName }}</h4>
      <ul>
        <li *ngFor="let showtime of hall.Showtimes" class="showtime">
          <div class="showtime-details">
            <strong>{{ showtime.date }} {{ showtime.day }}</strong>
            <!-- 傳遞選中的時間按鈕 -->
            <button (click)="onTimeSelect(hall.HallName, showtime.time, showtime.date, showtime.day,showtime.showTimeID)">
              {{ showtime.time }}
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
