@model IEnumerable<Backstage.Models.GenreList>

@{
    ViewData["Title"] = "Index";
}

<h1>內容類型一覽</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">新增</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenreName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.GenreId" class="btn btn-primary">編輯</a> |
                    <a asp-action="Delete" asp-route-id="@item.GenreId" class="btn btn-primary">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>
