<div class="container">
  <div>
    <button (click)="navToReply(articleId)" class="reply-button">
      <i class="pi pi-reply"></i> 回覆
    </button>

    <!-- 文章內容 -->
    <div class="reply">
      <div class="article-header">
        <h1 class="article-title">{{ article.title }}</h1>
        <div class="article-info">
          <span class="article-author">作者: {{ article.nickName }}</span>
          <span class="article-date"
            >發表時間：{{ article.postDate | forumDate }}</span
          >
        </div>
      </div>
      <div class="ql-snow">
        <div
          class="ql-editor article-content"
          [innerHTML]="safeHtml(article.articleContent)"
        ></div>
      </div>
      <div class="article-actions">
        <div>
          <p-button
            [icon]="
              getReaction(0) === 'like'
                ? 'pi pi-thumbs-up-fill'
                : 'pi pi-thumbs-up'
            "
            [label]="'讚(' + article.likeCount + ')'"
            [styleClass]="
              getReaction(0) === 'like'
                ? 'p-button-success mr-2 mb-2'
                : 'p-button-outlined p-button-success mr-2 mb-2'
            "
            (click)="toggleReaction('like', 0)"
          >
          </p-button>

          <p-button
            [icon]="
              getReaction(0) === 'dislike'
                ? 'pi pi-thumbs-down-fill'
                : 'pi pi-thumbs-down'
            "
            [label]="'踩(' + article.dislikeCount + ')'"
            [styleClass]="
              getReaction(0) === 'dislike'
                ? 'p-button-danger mr-2 mb-2'
                : 'p-button-outlined p-button-danger mr-2 mb-2'
            "
            (click)="toggleReaction('dislike', 0)"
          >
          </p-button>
        </div>
        <div *ngIf="user.memberId === article.authorId || user.memberId === 1">
          <p-menu #menu [popup]="true" [model]="menuItems"></p-menu>
          <button
            pButton
            type="button"
            icon="pi pi-ellipsis-v"
            (click)="menu.toggle($event)"
            class="p-button-text custom-menu-button"
          ></button>
        </div>
      </div>
    </div>
    <p-toast
      [showTransformOptions]="'translateY(100%)'"
      [showTransitionOptions]="'1000ms'"
      [hideTransitionOptions]="'500ms'"
      [showTransformOptions]="'translateX(100%)'"
      position="top-center"
    ></p-toast>

    <!-- 回覆內容 -->
    <div>
      <div class="reply" *ngFor="let post of posts">
        <div class="reply-header">
          <span class="reply-author">{{ post.nickName }}</span>
          <span class="reply-date">{{ post.postDate | forumDate }}</span>
        </div>
        <div class="ql-snow">
          <div
            class="ql-editor reply-content"
            [innerHTML]="safeHtml(post.postContent)"
          ></div>
        </div>
        <div class="reply-actions">
          <div>
            <p-button
              [icon]="
                getReaction(post.postId||0) === 'like'
                  ? 'pi pi-thumbs-up-fill'
                  : 'pi pi-thumbs-up'
              "
              [label]="'讚(' + post.likeCount + ')'"
              [styleClass]="
                getReaction(post.postId) === 'like'
                  ? 'p-button-success mr-2 mb-2'
                  : 'p-button-outlined p-button-success mr-2 mb-2'
              "
              (onClick)="toggleReaction('like', post.postId)"
            >
            </p-button>

            <!-- 貼文的踩按鈕 -->
            <p-button
              [icon]="
                getReaction(post.postId) === 'dislike'
                  ? 'pi pi-thumbs-down-fill'
                  : 'pi pi-thumbs-down'
              "
              [label]="'踩(' + post.dislikeCount + ')'"
              [styleClass]="
                getReaction(post.postId) === 'dislike'
                  ? 'p-button-danger mr-2 mb-2'
                  : 'p-button-outlined p-button-danger mr-2 mb-2'
              "
              (onClick)="toggleReaction('dislike', post.postId)"
            >
            </p-button>
          </div>
          <div *ngIf="user.memberId === post.posterId || user.memberId === 1">
            <p-menu #menu [popup]="true" [model]="menuItems"></p-menu>
            <button
              pButton
              type="button"
              icon="pi pi-ellipsis-v"
              (click)="menu.toggle($event)"
              class="p-button-text custom-menu-button"
            ></button>
          </div>
        </div>
      </div>
    </div>
    <p-confirmDialog></p-confirmDialog>
  </div>
</div>
