<div class="container">
  <button (click)="navToReply()" class="reply-button">
    <i class="pi pi-reply"></i> 回覆
  </button>

  <!-- 文章內容 -->
  <div class="article">
    <div class="article-header">
      <h1 class="article-title">{{ article.title }}</h1>
      <div class="article-info">
        <span class="article-author">作者: {{ article.memberName }}</span>
        <span class="article-date"
          >發表時間：{{ article.postDate | forumDate }}
        </span>
      </div>
    </div>
    <div class="article-content" [innerHTML]="safeContent"></div>
    <div class="article-actions">
      <p-button
        label="讚(10)"
        (onClick)="like()"
        styleClass="p-button-outlined p-button-success mr-2 mb-2"
        [raised]="true"
        severity="success"
      ></p-button>
      <p-button
        label="踩(2)"
        (onClick)="dislike()"
        styleClass="p-button-outlined p-button-danger mr-2 mb-2"
        [raised]="true"
        severity="Warn"
      ></p-button>
      <p-toast></p-toast>
    </div>
  </div>

  <!-- 回覆內容 -->
  <div class="replies">
    <div class="reply">
      <div class="reply-header">
        <span class="reply-author">用戶A</span>
        <span class="reply-date">2024年8月30日</span>
      </div>
      <div class="reply-content">
        <p>這是回覆內容。你可以在這裡對文章進行回應，提出你的觀點或意見。</p>
      </div>
      <div class="reply-actions">
        <p-button
          label="讚(10)"
          (onClick)="like()"
          styleClass="p-button-outlined p-button-success mr-2 mb-2"
          [raised]="true"
          severity="success"
        ></p-button>
        <p-button
          label="踩(2)"
          (onClick)="dislike()"
          styleClass="p-button-outlined p-button-danger mr-2 mb-2"
          [raised]="true"
          severity="Warn"
        ></p-button>
      </div>
    </div>
  </div>
</div>
