@model Backstage.Models.ViedoPlanList

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ViedoPlanList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plan.PlanName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Viedo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Viedo.VideoName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ViedoPlanId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
