@model Backstage.Models.ViedoPlanList

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ViedoPlanList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="videoPlanId" />
            <div class="form-group">
                <label asp-for="planId" class="control-label"></label>
                <select asp-for="planId" class="form-control" asp-items="ViewBag.PlanId"></select>
                <span asp-validation-for="planId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="videoId" class="control-label"></label>
                <select asp-for="videoId" class="form-control" asp-items="ViewBag.ViedoId"></select>
                <span asp-validation-for="videoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
